<h1>Welcome to Rock, Paper, Scissors</h1>
<p>The rules are simple, each player picks a fighter:<br>
<br>
Rock: crusher of scissors.<br>
Paper: suffocator of rocks.<br>
Scissors: slicer of paper.<br>
<b>There can be only one victor...</b></p>
<a href="/play">Let's Fight!</a>
