<h1>It's GO time...</h1>
<h3>Choose Your Fighter</h3>
<p>(we recommend rock, paper or scissors)<p>
<form method="POST" action="/game">
  <p>Player 1: <input type="password" name="P1" required></p>
  <p>Player 2: <input type="password" name="P2" required></p>
  <input type="submit" value="FIGHT">
</form>

<!-- <form method="POST" action="/game">
  <p>Player 1: <input type="text" name="P1" required></p>
  <p>Player 2: <input type="text" name="P2" required></p>
  <input type="submit" value="FIGHT">
</form> -->
